* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    margin: 20px;
    width: 300px;
    height: 500px;
    align-items: center;
    justify-content: center;
    background-color: rgb(198, 230, 220);
    gap: 10px;  /* Adds 10px gap between form elements */
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, rgba(252, 210, 205, 1) 15%, rgba(189, 183, 213, 1) 65%);
}
